# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Environment files
.env
.env.*
!api/.env.example

# Next.js
.next
out

# NestJS
/dist

# Prisma
prisma/dev.db
!api/prisma/migrations

# Docker
*.local
Dockerfile*

# Mac
.DS_Store

# Others
coverage

